.email-list {
  background-color: white;
  border: 1px solid #7dd161;
	border-radius: 4px;
  width: 300px;
  height: 800px;
  margin-top: 50px;
  margin-left: 50px;
  /* flex-direction: row; */
  /* transform: translateX(10%); */
}