.maker-background {
	height: 1000px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url('https://maskedhabbit-prod.s3-us-west-1.amazonaws.com/caulking.jpg');
	background-position: center top;

}


.maker-form-container {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	position:absolute;
  top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-280px;
	background-color:#e8ebef;
	width: 500px;
	height: 320px;
	padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 32px;
	border-radius: 5px;
}

.maker-form-title {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 50px;
	height: 60 px;
	text-align: center;
	letter-spacing: normal;
	font-weight: normal;
}

