.logged-in-doer-main {
	height: 1000px;
	width: 100%;  
	background-size: 1100px 750px;
	background-position: left top; 
	background-repeat: no-repeat;
	background-image: url('https://maskedhabbit-prod.s3-us-west-1.amazonaws.com/mounting.jpg');
	flex-direction: row;

}


.buttons-all {
	width: 25%;
	display: flex ;
	flex-direction: column;
	position:absolute;
	margin-top: 100px;
}

.category-doer-button {
	background-color: white;
	color: #7dd161;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 16px;

	border-radius: 4px;
	height: 48px;
	width: 100%;
	margin: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

.category-doer-button:hover {
	background-color: #2e661b;
	color: white;
}

.logged-in-doer-right{
	width:70%;
	height:500px;

	position:absolute;
	right: 0px;
	margin-top: 80px;
}

.doer-task-container{
	background-color:white;
	width:500px;
	height: 200px;
	margin: 20px;
	
	border-radius: 10px;
}

.task-accept-button{
	background-color: #2e661b;
	color: white;
	width:100px;
	height:45px;
	margin-left:190px;

	font-family:  Arial, Helvetica, sans-serif;
}

.task-accept-button:hover{
	background-color: white;
	color: #7dd161;

}