.maker-background {
	background-image: url('https://masked-habbit-dev.s3-us-west-1.amazonaws.com/fullstack/caulking.jpg');
  background-repeat: repeat-y;
 	background-size: 100%;
	height: 1000px;
	width: 100%;
	position: relative;
}


.new-task-maker-button {

	border-radius: 5px;
	color: white;
	font-size: 36px;
	background-color:  #61a14b;
	box-sizing: content-box;
	width: 300px;
	height: 50px;
	left:50%;
		position:absolute;
	margin-left:-150px;
	margin-top: 50px;
}

.tasks-cat-greeting-maker {
	background-color: #61a14b;
	width: 800px;
	height: 38px;
	margin-right: auto; margin-left: auto;
	margin-top: 150px;
	border-radius: 7px;
}

.parent-task-maker-container {
	display: flex ;
	flex-flow: row wrap;
	justify-content: center;
	position:absolute;
	width: 100%;
	margin-top: 50px;

}

.logged-in-maker-task{
	width:500px;
	height:500px;
	margin:100px;
	background-color: #D3D3D3;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.task-fields-1{
	font-family:  Arial, Helvetica, sans-serif;
	color: #606060;
	font-size: 24px;
	margin: 10px;
}

.task-fields-2{
	font-family:  Arial, Helvetica, sans-serif;
	color: #606060;
	font-size: 24px;
	margin: 10px;
}

.task-fields-3{
	font-family:  Arial, Helvetica, sans-serif;
	color: #909090;
	font-size: 20px;
	margin: 10px;
}

.task-fields-4{
	font-family:  Arial, Helvetica, sans-serif;
	color: #909090;
	font-size: 20px;
	margin: 10px;
}