


* {
  margin: 0;
  padding: 0;
}

.splash-background {
	background-image: url('https://masked-habbit-dev.s3-us-west-1.amazonaws.com/fullstack/splash.jpg');
	background-repeat: no-repeat;
	background-size: 100% 800px;
	height: 750px;
	width: 100%;
	margin: 0;
}

.splash-first {
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 47px;
	font-weight: bold;
	text-align: center;
	width: 820px;
	box-sizing: content-box;
	position:absolute;
	left:50%;
	margin-left:-400px;
	margin-top: 75px;
}

.splash-choose-txt {
	color:white;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 24px;
	box-sizing: content-box;
	position:absolute;
	width: 1000px;
	left:50%;
	margin-left:-490px;
	margin-top: 200px;
}

.buttons-first-row {
	display: flex ;
	flex-direction: row;
	position:absolute;
	left:50%;
	margin-left: -350px;
	margin-top: 230px;
}

.category-button {
	background-color: white;
	color: #7dd161;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 16px;
	border: 1px solid #7dd161;
	border-radius: 4px;
	height: 48px;
	margin: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

.category-button:hover {
	background-color: #2e661b;
	color: white;
}

.buttons-second-row {
	display: flex ;
	flex-direction: row;
	position:absolute;
	left:50%;
	margin-left: -325px;
	margin-top: 300px;
}

.main-page-search{
	width: 640px;
	height: 50px;
	padding: 5px;
	border-radius: 4px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: gray;
	position:absolute;
}

.magnifying-parent{
	width: 640px;
	position:absolute;
	left:50%;
	margin-left: -340px;
	margin-top: 380px;
}

#mag {
	float: left;
	position: absolute;
	height: 22px;
	width: 22px;
	margin-top:20px;
	margin-left:10px;
}

.how-it-works {
	float: none;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 730px;
}

.second-part {
	display: flex ;
	flex-direction: row;
	position:absolute;
	width:100%;	
}

.steps {
	width:100%;
	height: 240px;
	display: flex;
	justify-content: center;
	white-space: normal;
	overflow: hidden;
}

.steps-img {
	height:175px;
	width: 175px;
}



.task-text {
	display: inline-block;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 24px;
	justify-content: left;
	position:absolute;
	text-align: left;
	margin-top: 170px;
	width:30%;
}


.task-lower-text {
	display: inline-block;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 16px;
	justify-content: left;
	position:absolute;
	text-align: left;
	margin-top: 220px;
  white-space: normal;
	overflow: hidden;
	width:30%;
	padding:10px;
}
