// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-window {
  background-color: white;
  border: 1px solid #7dd161;
	border-radius: 4px;
  width: 302px;
  height: 800px;
  margin-top: 50px;
  margin-right: 40px;
}

.message-window-heading {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin: 10px;
  text-align: center;
	// width: 100%;
	color: #61a14b;
}

.composeButton {
  position:absolute;
  margin-left: 190px;
  margin-top: 5px;
	border-radius: 5px;

	background-color: #2e661b;
	color: white;
	font-family:  Arial, Helvetica, sans-serif;

	font-size: 16px;
	box-sizing: content-box;
	width: 80px;
	height: 22px;
  padding-top: 3px;
  text-align: center;
}

.composeButton:hover {
	color: #61a14b;
	background-color: white;
}


.message-subject  {
  font-family:  Arial, Helvetica, sans-serif;
	font-size: 16px;

}

.message-list-item {
  background-color: white;
  border-bottom: 1px solid black;
}

.message-list-item :hover {
  background-color: lightgray;
}

.p1 {
  display: inline;
  font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.p2 {
  display: inline;
  font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
  float: right;
}


.email-list {
  background-color: white;
	border-radius: 4px;
  width: 300px;
  height: 800px;
  list-style-type: none;
}


.read-message-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.read-message-container {
  font-family:  Arial, Helvetica, sans-serif;

	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	position:absolute;
  top:40%;
	left:50%;
	margin-top:-100px;
	margin-left:-280px;
	background-color:#e8ebef;
	width: 490px;
	height: 333px;
	padding-top: 12px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 32px;
	border-radius: 5px;
	z-index: 15;
}

.read-message-body {
  height: 196px;
}

.message-closing-x {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;

	margin-left:510px;
}
.message-field {
  height: 25px;
}

.p-title{
  font-weight: bold;
  display: inline;

}

.p-field{
  display: inline;
  background-color: #e8ebef;
  border: none;
  width: 400px;
  height:25px;
  font-size: 16px;
}

.p-field:focus {
    outline: none !important;
}

.t-field {
  background-color: #e8ebef;
  border: none;
}


.send-message-button {
  margin-left: 200px;
  margin-top: 0px;
	border-radius: 5px;

	background-color: #e8ebef;
	color: black;
	font-family:  Arial, Helvetica, sans-serif;

	font-size: 16px;
	box-sizing: content-box;
	width: 80px;
	height: 22px;
  text-align: center;
}

.send-message-button:hover {
	color: white;
	background-color: black;
}


.message-error-display{
	position: relative;
  bottom: 5px;
  // margin-left: 40px;
	height: 10px;
	width: 100%;
	padding-bottom: 0px;
	color: rgb(190, 55, 55);
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}