.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.maker-form-container {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	position:absolute;
  top:40%;
	left:50%;
	margin-top:-200px;
	margin-left:-280px;
	background-color:#e8ebef;
	width: 500px;
	height: 460px;
	padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 32px;
	border-radius: 5px;
	z-index: 15;
}

.maker-form-title {
	display: block;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 50px;
	height: 60 px;
	text-align: center;
	letter-spacing: normal;
	font-weight: normal;
}

.closing-x-container {
	font-family: Arial, Helvetica, sans-serif;
   height: 20px;
  width: 20px;
  border-radius: 50%;
    text-align: center;
	margin-left:510px;
}


.closing-x-container:hover {
	background-color:white;
}


.closing-x{
	padding-top: 2px;
}

.pic-upload-label {
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:0px;
}

/* from stackoverflow
https://stackoverflow.com/questions/1944267/how-to-change-the-button-text-of-input-type-file/36248168 */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
	font-family: Arial, Helvetica, sans-serif;

  content: 'Picture';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
	padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
	background-color: white;
	margin-bottom: 10px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.cat_selector {
	width: 505px;
	height: 35px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#vehicle_selector{
	margin-top: 10px;
}

.make_task_error {
	position: absolute;
	padding: 0px;
	color: rgb(190, 55, 55);
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}


.new_task_input {
	width: 100%;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgb(176,176,176);
	border-radius: 3px;
}

#new_task_button {
	margin-top: 20px;
}