.navbar-containger {
	background-color: white;
	display: flex ;
	flex-direction: row;
	height: 75px;
}

.nav-logo {
	height:40px;
	width: 200px;
	padding-top: 15px;
}

.nav-log-text {
	color: #7dd161;
	font-family: Proxima, Arial, Helvetica, sans-serif;
	text-decoration: none;
}