.navbar-container {
	background:none;
	background-color: white;
	display: flex ;
	flex-direction: row;
	height: 60px;
	width:100%;
	overflow:auto;
	

}

.nav-logo {
	height:40px;
	width: 200px;
	padding-top: 8px;
	position: absolute;
	left: 50px;
}

.nav-log-text {
	color: #7dd161;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-decoration: none;
	position: absolute;
	right: 310px;
	margin-top:17px;
}

.nav-log-text:hover {
	color:rgb(68, 134, 51);
}

.become-tasker-button {
	background-color: white;
	color: #7dd161;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 1px solid #7dd161;
	border-radius: 4px;
	height: 50px;
	width: 180px;
	margin-top: 3px;
	position:absolute;
	right: 100px;

}
.become-tasker-button:hover {
	cursor: pointer;
}

.navbar-logout-button{
	background-color: white;
	color: #7dd161;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	border: 1px solid #7dd161;
	border-radius: 4px;
	height: 50px;
	width: 180px;
	margin-top: 3px;
	position:absolute;
	right: 100px;
}

.navbar-button:hover {
	background-color:  #2e661b;;
	color: white;
	cursor: pointer;
}

.loggedin-name {
	color: #7dd161;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-decoration: none;
	position: absolute;
	right: 310px;
	margin-top:17px;
}