.signup-background {
	height: 1000px;
	width: 100%;

	background-image: url('signup_groceries.jpg');
	background-position: center; 
}

.signup-form-container {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	position: fixed;
	top: 50px;
	right: 150px;
	background-color:#e8ebef;
	width: 325 px;
	height: 696 px;
	padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
	border-radius: 5px;
}

.signup-form-title {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0px;
  /* border: 1px solid black; */
	font-family: Proxima, Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 50px;
	height: 60 px;
	text-align: start;
	letter-spacing: normal;
	font-weight: normal;
}

.all-fields-required{
	width: 325px;
	font-family: Proxima, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.tasker-txt{
	font-family: Proxima, Arial, Helvetica, sans-serif;
	font-size: 15px;
	align-content: center;
}

.signup-input{
	width: 100%;
	height: 30px;
	padding: 5px;
	margin-top: 15px;
}

.signup-submit{
	border-radius: 5px;
	color: white;
	font-size: 20px;
	background-color: #7dd161;
	display: block;
	box-sizing: content-box;
	width: 100%;
	max-width: 100%;
	height: 50px;
}