.signup-background {
	height: 1000px;
	width: 100%;

	background-image: url('signup_groceries.jpg');
	background-position: center; 
}

.signup-form-container {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	position: fixed;
	right: 30px;
	background-color: rgb(249, 250, 251);
	width: 325 px;
	height: 696 px;
	padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
	border-radius: 5px;
}

.signup-form-title {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0px;
  /* border: 1px solid black; */
	font-family: Proxima, Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 50px;
	height: 60 px;
	text-align: start;
	letter-spacing: normal;
	font-weight: normal;
}