
.navbar-container {
	background:none;
	background-color: white;
	display: flex ;
	flex-direction: row;
	height: 60px;
	width:100%;
	overflow:auto;
}


.signup-background {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1000px;
	width: 100%;
	background-image: url('https://maskedhabbit-prod.s3-us-west-1.amazonaws.com/signup_drill.jpg');
	background-position: center top;
	display: flex;
	flex-direction: row;
}

.left-text {
	display:block;
	padding-top: 300px;
	width: 50%;
}

.left-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	width: 100%;
}

.left-2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	width: 100%;
}

.left-3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	width: 100%;
}

.signup-form-container {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	position:absolute;
  top:350px;
	left:70%;
	margin-top:-200px;
	margin-left:-200px;
	background-color:#e8ebef;
	width: 325px;
	height: 445px;
	padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 32px;
	border-radius: 5px;
}

.signup-form-title {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 50px;
	height: 60px;
	text-align: start;
	letter-spacing: normal;
	font-weight: normal;
}

.all-fields-required{
	width: 325px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(83, 80, 80);
}

.tasker-txt{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	align-content: center;
	margin-top: 0px;
}

.tasker-checkbox{
	 zoom: 1.8;
	 margin-top: 7px;
}

.signup-input{
	width: 100%;
	height: 30px;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 0px;
	color: rgb(176,176,176);
	border-radius: 3px;
}

.signup-submit{
	border-radius: 5px;
	color: white;
	font-size: 20px;
	background-color:  #71be57;
	display: block;
	box-sizing: content-box;
	width: 100%;
	max-width: 100%;
	height: 50px;
}

.error-display{
	color: rgb(190, 55, 55);
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:0px;
	padding-top:0px;
}


.text-white{
	color: white;
}

.login-link {
	text-decoration: none;
	color: #7dd161;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center
}

.link-get-rid-of-underline {
	text-decoration: none;	
}



#account-question {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center
}

#link-dark {

	color: #7dd161;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align: center
}

#link-dark:hover {
	color:rgb(68, 134, 51);
}