.splash-background {
	background-image: url('splash.jpg');

	background-repeat: no-repeat;
	/* background-position:  */
	background-size: 100% 800px;
	height: 1000px;
	width: 100%;
	border: 1px solid black;

}





