.tasks-by-cat-background {
	height: 1000px;
	width: 100%;
	background-position: center; 
	background-image: url('https://maskedhabbit-prod.s3-us-west-1.amazonaws.com/lighting.jpg');
}

#tasks-cat-greeting-con {

	background-color: #7dd161;
	width: 500px;
	height: 38px;
	position:absolute;
	left:50%;
	margin-left: -250px;
	margin-top: 50px;
	border-radius: 7px;
}

.task-cat-greeting {
	color: white;
	font-family:  Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 2px;
}



